<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pdms">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PDMS">
        <activity android:name=".Forgot_Password"></activity>
        <activity
            android:name=".Patient_Profile"
            android:parentActivityName=".PatientDashboard">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.pdms.PatientDashboard" />
        </activity>
        <activity android:name=".Register" />
        <activity android:name=".Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".PatientDashboard" />
        <activity android:name=".DoctorDashboard" />
        <activity android:name=".AdminDashboard" />
        <activity android:name=".AdminAccountSearch" />
        <activity android:name=".PatientSettings" />
        <activity android:name=".PatientAboutUs" />
        <activity android:name=".PatientContactUs" />
        <activity android:name=".AdminA" />
        <activity android:name=".AdminB" />
        <activity android:name=".DoctorX" />
        <activity android:name=".DoctorY" />
    </application>

</manifest>